<header>
    <div id = "head-fixed">
    test-twitter
    <nav><ul>
        <li><%= link_to "トップ", "/tweets" %></li>
    </ul></nav>
    <% flash.each do |key, value|%>
        <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    </div>
</header>

<div id ="container">
    <h1>Log in</h1>
    <div>
        <%= form_for (:session) do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
        </br>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
        </br>
            <%= f.submit "ログイン", class: "btn btn-primary"%>
        <% end %>
        <% flash.each do |key, value|%>
            <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
    </div>
</div>