<div><%= link_to "ログイン", "/login" %></div>

<% flash.each do |key, value|%>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div>
    <% @tweets.each do |tweet| %>
        <%if tweet.rtid == TYPE_NOT_RETWEET %>
        <div>
            <% user = User.find_by(:id => tweet.uid) %>
            <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %>&nbsp;&nbsp;
            <%= write_time tweet.created_at %>
            <%= simple_format(h(tweet.content)) %>
            --------------------------------<br>
        </div>
        <% end %>
    <% end %>
</div>