<header>
    <div id = "head-fixed">
        <div id = "head-top">
            test-twitter
            <nav><ul>
                <li>トップ</li>
                <li><%= link_to "ログイン", "/login" %></li>
            </ul></nav>
        </div>
        <div id = "head-bottom">
            <% flash.each do |key, value|%>
                <%= content_tag(:div, value, class: "#{key}") %>
            <% end %>
        </div>
    </div>
</header>

<div id ="container">
    <div id = "left-tweet-block">
        <% @tweets.each do |tweet| %>
            <%if tweet.rtid == TYPE_NOT_RETWEET %>
            <div class = "tweet-content">
                <% user = User.find_by(:id => tweet.uid) %>
                <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %>&nbsp;&nbsp;
                <%= write_time tweet.created_at %>
                <%= simple_format(h(tweet.content)) %>
            </div>
            <% end %>
        <% end %>
    </div>
</div>