<div><%= link_to "ログアウト", "/logout" %></div>

<% flash.each do |key, value|%>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div>
<%= form_for Tweet.new do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit %>
<% end %>
</div>

<div>
    <% @tweets.each do |tweet| %>
        <div>
            --------------------------------<br>
            <% user = User.find_by(:id => tweet.uid) %>
            <%= user.name %></br>
            <%= tweet.content %>
        </div>
    <% end %>
</div>