<div><%= link_to "ログアウト", "/logout" %>&nbsp;&nbsp;<%= link_to "マイページ", "/users/show/" + current_user.id.to_s %>&nbsp;&nbsp;<%= link_to "ユーザー一覧", "/users" %></div>

<% flash.each do |key, value|%>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div>
<%= form_for Tweet.new do |f| %>
    <%= f.label :content, "ツイートする" %>
    <%= f.text_area :content %>
    <%= f.submit "送信"%>
<% end %>
</div>

<div>
    <% @tweets.each do |tweet| %>
        <div>
            --------------------------------<br>
            <% if tweet.rtid == TYPE_NOT_RETWEET then %>
                <% user = User.find_by(:id => tweet.uid) %>
                <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %></br>
                <%= tweet.content %>
            <% end %>
        </div>
    <% end %>
</div>