<div><%= link_to "ログアウト", "/logout" %>&nbsp;&nbsp;<%= link_to "マイページ", "/users/show/" + current_user.id.to_s %>&nbsp;&nbsp;<%= link_to "ユーザー一覧", "/users" %></div>

<% flash.each do |key, value|%>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div>
<%= form_for Tweet.new do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :rtid, value: TYPE_NOT_RETWEET %>
    <%= f.submit "ツイートする"%>
<% end %>
</div>

<div>
    <% @tweets.each do |tweet| %>
        <div>
            --------------------------------<br>
            <% if tweet.rtid == TYPE_NOT_RETWEET then %>
                <% user = User.find_by(:id => tweet.uid) %>
                <% sendId = tweet.id%>
                <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %>
                <%= simple_format(h(tweet.content)) %>
            <% else %>
                <% user = User.find_by(:id => tweet.uid) %>
                <% originalTweet = Tweet.find_by(:id => tweet.rtid) %>
                <% originalUser = User.find_by(:id => originalTweet.uid) %>
                <% sendId = originalTweet.id%>
                <%= link_to originalUser.name + "@" + originalUser.username, "/users/show/" + originalUser.id.to_s %>&nbsp;&nbsp;
                <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %>さんがリツイート
                <%= simple_format(h(originalTweet.content)) %>
            <% end %>
            <%= form_for Tweet.new do |f| %>
                <%= f.hidden_field :rtid, value: sendId %>
                <%= f.submit "RT" %>
            <% end %>
        </div>
    <% end %>
</div>