<header>
    <div id = "head-fixed">
    test-twitter
    <nav><ul>
        <li><%= link_to "トップ", "/tweets" %></li>
        <% if logged_in? then %>
            <li><%= link_to "ログアウト", "/logout" %></li>
        <% else %>
            <li><%= link_to "ログイン", "/login" %></li>
        <% end %>
    </ul></nav>
    <% flash.each do |key, value|%>
        <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    </div>
</header>

<div id = "container">
    ユーザー一覧</br>
    <% if logged_in? then %>
        <%= form_tag(:controller => "follows", :action => "create") do %>
            <%= hidden_field_tag "mode", "many" %>
            <% @users.each do |user| %>
                <%= hidden_field_tag "new_follower[][id]", user.id %>
                <%= check_box_tag "new_follower[][flag]" %>
                <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %></br>
            <% end %>
            <%= submit_tag "フォローする"%>
        <% end %>
    <% else %>
        <% @users.each do |user| %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %></br>
        <% end %>
    <% end %>
</div>
