<div><%= link_to "トップ", "/tweets" %></div>

<div>
    ユーザー一覧</br>
    <% if logged_in? then %>
        <%= form_tag(:controller => "follows", :action => "create") do %>
            <%= hidden_field_tag "mode", "many" %>
            <% @users.each do |user| %>
                <%= hidden_field_tag "newfol[][id]", user.id %>
                <%= check_box_tag "newfol[][flag]" %>
                <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %></br>
            <% end %>
            <%= submit_tag "フォローする"%>
        <% end %>
    <% else %>
        <% @users.each do |user| %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %></br>
        <% end %>
    <% end %>
</div>
